body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header, nav, section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

header {
    text-align: center; 
}

nav {
    text-align: center; 
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block; 
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; 
}

.table-container {
    width: 50%;
    margin-bottom: 5px;
    text-align: center; 
}

.table-modify {
    width: 100%; 
    
    margin: 0 auto; 
    text-align: center; 
}

img {
    width: 100%;
}

form {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 50px; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

select:required:invalid {
    border-color: red;
}

option[value=""]:disabled {
    color: #999;
}
